@import '~normalize.css';
@import './roboto.css';

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    margin: 0;
    max-width: 1000px;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

h1 {
    text-align: center;
}

.logo {
    background-image: url('../assets/img.png');
    background-size: cover;
    height: 800px;
    margin: 0 auto;
    width: 800px;
}

.code {
    color: crimson;
}
