<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="favicon.icon" rel="icon">


<body>
<div class='container'>
    <h1><%= htmlWebpackPlugin.options.course %> </h1>
    <hr/>
    <div class='logo'></div>
    <hr>
    <pre></pre>
    <div class="box">
        <h2>LESS</h2>
    </div>
    <div class="card">
        <h2>SCSS</h2>
    </div>
</div>

<div class="profile">
    <img alt="" src="<%= require('./images/link.jpg') %>">
    <h1>Link's Journal</h1>
</div>

<div id="appVue"></div>
<div id="react-root"></div>
<app-root>Loading...</app-root>

</body>
</html>
