'use strict';
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="favicon.icon" rel="icon">


<body>

<div id="appVue"></div>
<div id="react-root"></div>
<app-root>Loading...</app-root>

</body>
</html>
